@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
}

body {
  min-width: 900px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #849d8f;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: calc(100% - 4.4vw);
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
}

.input-inner {
  position: relative;
  margin: 0;
}

.input-label {
  position: absolute;
  top: 11px;
  left: 14px;

  color: #999999;

  pointer-events: none;
  transition: 0.2s;
}

.input {
  padding: 9px 14px;

  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.input:hover,
.input:focus {
  padding: 8px 13px;

  border: 2px solid rgb(154, 154, 154);
}

.input:focus {
  border: 2px solid rgb(46, 136, 228);
  outline: 0;
}

.input:focus + .input-label,
.input:valid + .input-label {
  top: -20px;
  left: 7px;

  font-size: 13px;
  color: #323232;
}

.button {
  display: block;

  font-family: inherit;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;

  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  border: none;
  border-radius: 18%/50%;
}

.button:hover,
.button:focus {
  outline: 0;
  background-image: -moz-linear-gradient( 90deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: rgba(255, 255, 255, 1);
}

.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.link-black {
  color: #323232;
  text-decoration: underline rgba(0, 0, 0, 0.3);
}

.link-black:hover,
.link-black:focus,
.link-black:active {
  color: #e84d37;
  text-decoration: underline rgba(236, 89, 60, 0.3);
}

.link-white {
  color: #ffffff;
  text-decoration: underline rgba(255, 255, 255, 0.3);
}

.link-white:hover,
.link-white:focus,
.link-white:active {
  color: #ffbc9e;
  text-decoration: underline rgba(249, 172, 159, 0.3);
}

/*всплывающее окно формы для обратной связи*/
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.3);
}
.feedback {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 1;

  box-sizing: border-box;
  padding: 17px 24px 25px;
  margin-left: -239px;

  background-color: #f8f7f4;
  border-radius: 12px;

  opacity: 0;
  transform: scale(0, 1);
  transition-duration: 0.6s;
}

.feedback__text {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form__inner {
  margin: 18px 0 20px;
}

.feedback-form__input,
.feedback-form__input:focus,
.feedback-form__input:hover {
  box-sizing: border-box;
  width: 267px;
  height: 44px;

  font-size: 16px;
}

.feedback-form__textarea {
  width: 400px;
  max-width: 400px;
  max-height: 210px;
  padding-top: 6px;
  padding-bottom: 5px;

  line-height: 24px;
}

.feedback-form__textarea:hover,
.feedback-form__textarea:focus {
  padding: 5px 13px 4px;
}

.feedback-form__btn {
  padding: 10px 23px;
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 11px;

  background-color: transparent;
  border: none;
}

body.modal-show .feedback,
body.modal-show .modal-backdrop {
  display: block;

  opacity: 1;
  transform: scale(1, 1);
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
}
/*конец всплывающего окна*/

/*блок header*/
.page-header {
  position: relative;
  padding-top: 9px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  font-family: inherit;
  color: #ffffff;
}

.main-logo {
  display: block;
  margin-right: 10px;

  line-height: 11px;
}

.main-navigation {
  flex-grow: 1;
  align-items: center;
 width: calc(100% - 164px);
  min-height: 37px;
  display: flex;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 270px);
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  list-style: none;
}

.main-menu__item {
  position: relative;

  padding-bottom: 5px;
}

.main-menu__link {
  display: block;
  padding: 7px 14px;

  color: #ffffff;

  text-decoration: underline rgba(255, 255, 255, 0.2);
  border-radius: 14px/50%;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #333333;

  background-color: #f7f6f3;
  outline: 0;
}

.main-menu__link:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.mein-menu__link--active,
.menu-catalog__item--active {
  color: #ffffff;

  background-color: #d07058;
}

.menu-catalog {
  display: none;
  min-width: 143px;
  padding: 0;

  background-color: #f8f7f4;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-menu__item:first-child:hover .menu-catalog {
  position: absolute;
  top: 37px;
  left: -7px;
  z-index: 10;

  display: block;
}

.menu-catalog__item {
  width: 100%;

  font-weight: normal;
}

.menu-catalog__item:first-of-type {
  font-weight: bold;

  border-radius: 5px 5px 0 0;
}

.menu-catalog__item:first-of-type::after {
  content: "";
  position: absolute;
  right: 9px;
  left: 6px;
  top: 38px;

  height: 1px;

  background-color: rgba(53, 53, 53, 0.2);;
}

.menu-catalog__item:last-of-type {
  border-radius: 0 0 5px 5px;
}

.menu-catalog__item:not(:first-of-type) {
  font-weight: normal;
}

.menu-catalog__item:not(.menu-catalog__item--active):hover,
.menu-catalog__item:focus {
  background-color: #fbded7;
}

.menu-catalog__link:active {
  background-color: #f6b5a5;
}

.menu-catalog__link {
  display: block;
  padding: 0 20px;

  font-size: 14px;
  line-height: 32px;
  color: #323232;
  text-decoration: none;
}

.menu-catalog__link--new {
  padding: 3px 20px 4px;
}

.menu-catalog__link--last {
  padding-bottom: 4px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 262px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-navigation__item {
  position: relative;

  padding-bottom: 5px;
}

.user-navigation__item:hover .user-navigation__inner {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 10;

  display: block;
}

.user-navigation__inner {
  display: none;
  margin-top: 6px;
}

.user-navigation__icon {
  display: flex;
  align-items: center;
  padding: 6px 16px 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}

.search__icon {
  padding: 8px;
}

.user-navigation__icon:hover,
.user-navigation__icon:focus,
.user-navigation__icon:hover .user-navigation__img-color,
.user-navigation__icon:focus .user-navigation__img-color {
  color: #323232;
  fill: #323232;

  background-color: rgba(248, 247, 244, 1);
}

.user-navigation__text {
  padding-left: 7px;
}

.search-container {
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form__input {
  width: 281px;
}

.login-container {
  position: relative;

  padding: 20px 17px 22px 19px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form__item {
  margin: 0 0 20px;
}

.login-form__input {
  width: 211px;
}

.login-form__btn {
  padding: 10px 24px;

  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.login__links {
  position: absolute;
  bottom: 23px;
  right: 17px;

  width: 120px;

  font-size: 13px;
  line-height: 22px;
}

.basket {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-container {
  width: 512px;
  padding: 14px 14px 21px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket__link {
  min-width: 85px;
}

.basket__link--full {
  position: relative;

  color: #323232;

  background-color: rgba(248, 247, 244, 1);
}

.basket__link--full::before {
  content: url(../img/basket-full.svg);
  position: absolute;
  top: 6px;
  left: 15px;
}

.basket-table {
  width: 100%;

  border-bottom: 1px solid #cacac7;
}

.grey {
  color: #999999;
}

.basket-table__cell {
  padding-bottom: 10px;
  vertical-align: top;
}

.basket-table__row:last-of-type .basket-table__cell {
  padding-bottom: 14px;
}

.basket-table__delete,
.basket-table__name,
.basket-table__weight,
.basket-table__sum {
  display: block;
  margin: 12px 0 0;
}

.basket-table__thumb {
  padding: 3px 3px 0 9px;
}

.basket-table__name {
  width: 220px;
}

.basket-table__weight {
  width: 107px;
}

.basket-table__sum {
  min-width: 58px;
}

.basket__total {
  margin: 14px 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}

.basket__button {
  width: 145px;
  padding: 10px 14px;
  margin: 0 1px 0 auto;

  font-size: 18px;
  line-height: 24px;
  border-radius: 18px/50%;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 21px 0 0;
  max-width: 75%;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  padding-right: 21px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "\00BB";
  position: absolute;
  top: 0;
  right: 8px;
}

.work-time {
  width: 167px;
  margin: 0;
  margin-left: auto;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}

.work-time__phone {
  font-size: 22px;
  font-weight: inherit;
  line-height: 30px;
}
/*конец header*/

/*слайдер*/
.slider-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slide-1.png);
  background-position: 50% 0;
  background-repeat: no-repeat;

  transition: background-image 0.5s, background-color 0.5s;
}

.slider-wrapper::before,
.slider-wrapper::after {
  content: "";

  visibility: hidden;
}

.slider-wrapper::before {
  background-image: url(../img/slide-2.png);
}

.slider-wrapper::after {
  background-image: url(../img/slide-3.png);
}

#slider__radio-1:checked ~ .slider-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slide-1.png);
}
#slider__radio-2:checked ~ .slider-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slide-2.png);
}
#slider__radio-3:checked ~ .slider-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slide-3.png);
}

.slider {
  position: relative;

  padding-top: 272px;
  padding-bottom: 42px;
}

.slider__controls {
  position: absolute;
  bottom: 63px;
  display: flex;
  width: 200px;

}

.slider__radio {
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#slider__radio-1:checked ~ .slider-wrapper label[for="slider__radio-1"],
#slider__radio-2:checked ~ .slider-wrapper label[for="slider__radio-2"],
#slider__radio-3:checked ~ .slider-wrapper label[for="slider__radio-3"] {
  background-color: #ffffff;
}

.slider__inner {
  padding: 0;
  margin: 0;

  list-style: none;
}

.slider__slide {
  display: none;

  text-align: center;
}

#slider__radio-1:checked ~ .slider-wrapper .slider__slide:nth-child(1),
#slider__radio-2:checked ~ .slider-wrapper .slider__slide:nth-child(2),
#slider__radio-3:checked ~ .slider-wrapper .slider__slide:nth-child(3) {
  display: block;
}

.slider__subtitle {
  width: 685px;
  margin: 0 auto 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: #ffffff;
}

.slider__button {
  display: inline-block;
  max-width: 450px;
  padding: 8px 41px 12px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: middle;

  border-radius: 32px/50%;
}

/*баннеры*/
.stock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 48.9%;
  min-height: 229px;
  padding: 16px 21px 24px 19px;

  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  border-radius: 15px;
}

.banner-raspberries {
  margin-right: 2.3%;

  background-color: #c3173b;
  background-image: url(../img/raspberries.jpg);
  background-position: 22% 52%;
  background-repeat: no-repeat;
}

.banner-chocolate {
  background-color: #4a2b1b;
  background-image: url(../img/chocolate.jpg);
  background-position: 81% 47%;
  background-repeat: no-repeat;
}

.banner__title {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
}

.banner__text {
  margin: 15px 0;
}

.banner__button {
  padding: 10px 23px;
  margin: auto 0 0 auto;
  align-self: flex-end;

  line-height: 25px;

  border-radius: 23px;
}

/*хиты*/
.hit__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;

  list-style: none;
}

.hit__item {
  position: relative;

  width: 23.2%;
}

.ice-cream {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 285px;

  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.ice-cream--hit::after {
  content: url(../img/hit.png);
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
}

.ice-cream__img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  min-height: 1px;
}

.ice-cream__price {
  width: 100%;
  margin: 0;
  margin-top: -59px;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-align: left;
}

.units {
  font-size: 30px;
  line-height: 35px;
}

.rub {
  position: relative;
  padding-left: 13px;

  font-size: 0;
  font-weight: inherit;
}

.rub::after {
  content: url(../img/ruble.svg);
  position: absolute;
  top: -33px;
  left: -8px;
}

.ice-cream__name {
  min-height: 44px;
  margin: 9px 3px 7px;

  font-size: 16px;
  line-height: 22px;
}

.button-wrapper {
  position: absolute;
  bottom: -47px;

  display: block;
  width: 100%;
}

.ice-cream__button {
  display: none;
  padding: 9px 14px 11px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  border-radius: 17px/50%;
}

.ice-cream::before {
  content: "";
  position: absolute;
  top: -2%;
  left:-5%;
  z-index: -1;

  display: block;
  width: 110%;
  height: 123%;
}

.ice-cream:hover::before {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

 .ice-cream:hover {
  z-index: 1;
 }

.ice-cream:hover .ice-cream__button {
  display: inline-block;
  vertical-align: top;
}

/*О нас*/
.about-us {
  padding: 25px 21px 2px 19px;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #f0e5d0;
  background-image: url(../img/waffle-fon.jpg);
  background-position: 3% 3%;
  background-repeat: repeat;
  border-radius: 13px;
}

.about-us__text {
  margin: 0;
  margin-bottom: 21px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.features__item {
  position: relative;

  box-sizing: border-box;
  width: 48.7%;
  padding-left: 57px;
  margin-bottom: 22px;
}

.features__item::before {
  content: url(../img/ice-cream.svg);
  position: absolute;
  top: -12px;
  left: 1px;
}

.features__item:nth-child(2)::before {
  content: url(../img/cow.svg);
  left: -1px;
}

.features__item:nth-child(3)::before {
  content: url(../img/leaf.svg);
}

.features__item:nth-child(4)::before {
  content: url(../img/thermometer.svg);
  left: -1px;
}


.features__text {
  margin: 0;
}

/*блог и подписка*/
.row-container {
  margin-bottom: 39px;

  display: flex;
  justify-content: space-between;
}

.row-container__item {
  width: 48.9%;
  box-sizing: border-box;

  border-radius: 15px;
}

.blog {
  padding: 23px 20px;

  background-color: #ffffff;
  background-image: url(../img/strawberry-fon.jpg);
  background-position: 17% 39%;
  background-repeat: no-repeat;
}

.blog__title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog__link {
  display: block;
  width: 320px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline #323232;
}

.mail {
  display: flex;
  padding: 6px;

  background-image: url(../img/letter-fon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mail__inner {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 209px;
  width: 100%;
  padding: 28px 20px 33px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.mail__text {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.mail-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 0;
}

.mail-form__inner {
  flex-grow: 1;
  margin-right: 12px;
}

.mail__input {
  box-sizing: border-box;
  width: 100%;

  font-size: 16px;
}

.mail__button {
  padding: 10px 19px 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  cursor: pointer;
}

/*карта*/
.map {
  min-height: 429px;

  line-height: 0;

  overflow: hidden;
  background-image: url(../img/map.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.map__yandex {
  width: 100%;

  border: 0;
}

.contacts-container {
  position: relative;
}

.contacts {
  position: absolute;
  top: 62px;
  right: 0;

  width: 252px;
  padding: 30px 25px;
  margin-left: auto;
  margin-right: 0;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}

.contacts__address {
  margin: 0;
}

.contacts__phone {
  margin: 18px 0 23px;

  line-height: 22px;
}

.phone {
  display: block;
  padding-top: 3px;
}

.bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts__button {
  padding: 9px 2px 11px;
  font-size: 18px;
  line-height: 24px;

  border-radius: 21px/50%;
}

/*страница каталога*/

.title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

/*фильтры*/
.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filters-form__item {
  padding: 0;
  margin-bottom: 15px;

  border: none;
}

.filters-form__btn {
  align-self: flex-end;
  padding: 7px 28px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18px;
  cursor: pointer;
}

.filters-form__btn:hover,
.filters-form__btn:focus {
  color: #323232;

  background-color: #ffffff;
  outline: 0;
}

.filters-form__btn:active {
  padding: 9px 29px;

  color: #323232;

  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  border: none;
}

.form-item__name {
  display: block;
  margin: 0 15px 7px;
}

.form-item__price {
  width: 25px;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.form-item__filter {
  display: block;
  min-height: 36px;
  padding: 8px 18px;
  padding-left: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 18px;

  border: none;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter--sorting {
  position: relative;

  width: 193px;
  padding-left: 15px;
  padding-right: 25px;

  font-family: inherit;
  color: #ffffff;

  background-image: url(../img/select-arrow.svg);
  background-position: 92%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter--sorting::-ms-expand {
    display: none;
}

.filter--sorting:hover,
.filter--sorting:focus {
  color: #323232;

  background-image: url(../img/select-arrow-black.svg);
}

.filter--range {
  position: relative;
  padding: 16px 21px;
}

.filter__base-line {
  width: 176px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);
}

.filter__second-line {
  width: 104px;
  height: inherit;
  margin-left: 16px;

  background-color: #ffffff;
}

.filter__btn {
  position: absolute;
  top: 8px;
  left: 36px;

  min-width: 20px;
  min-height: 22px;
  padding: 0;

  font-size: 0;

  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
}

.filter__btn--right {
  left: 134px;
}

.filter__btn:hover {
  transform: scale(1.1);
}

.filter__input {
  display: none;
}

.filter__name {
  position: relative;
  padding-left: 36px;
  padding-bottom: 4px;
  padding-top: 2px;
  margin-left: 10px;

  cursor: pointer;
}

.filter__name--checkbox {
   padding-left: 39px;
}

.filter__name--radio::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;

  width: 22px;
  height: 22px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
}

.filter__input:checked + .filter__name--radio::before {
  background-image: url(../img/radio-on.svg);
}

.filter__name--checkbox::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;

  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
}

.filter__input:checked + .filter__name--checkbox::before {
  width: 24px;
  background-image: url(../img/checkbox-on.svg);
}

.filter__name:hover::before,
.filter__name:focus::before {
  opacity: 1;
}

.filter__input:disabled + .filter__name::before {
  opacity: 0.4;
}

/*каталог мороженного*/
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin-bottom: 75px;

  list-style: none;
}

.catalog__item {
  position: relative;

  width: 23.2%;
}

.catalog__item:nth-child(n + 5) {
  margin-top: 33px;
}

.pages {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pages__color {
  fill: rgba(255, 255, 255, 1);
}

.pages__color--disabled {
  fill: rgba(255, 255, 255, 0.2);
}

.pages__item {
  margin-left: 4px;
}

.pages__link {
  display: block;
  width: 25px;
  padding: 4px 0 3px;
  box-sizing: border-box;

  text-align: center;
  color: #ffffff;
  text-decoration: none;

  border-radius: 50%;
}

.pages__item--prev {
  margin-right: 2px;

  transform: rotate(180deg);
}

.pages__item--next {
  position: relative;
  right: -8px;

  margin: 0;
}

.pages__link--prev,
.pages__link--next {
  padding-left: 2px;
}

.pages__link:not(.pages__link--disabled):not(.pages__link--active):hover,
.pages__link:not(.pages__link--disabled):not(.pages__link--active):focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.pages__link:not(.pages__link--disabled):not(.pages__link--active):active {
  background-color: #ffffff;
  color: #323232;
}

.pages__link--active {
  color: #323232;

  background-color: #ffffff;
}

/*подвал*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 23px;
}

.footer-social,
.footer-navigation {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social{
  padding-top: 13px;
  padding-left: 1px;
}

.footer-social__btn {
  margin-right: 11px;
}

.footer-social__link {
  display: block;
  width: 32px;
  min-height: 32px;

  line-height: 10px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.footer-social__link:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.footer-social__link:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 0.9;
}

/*ссылки подвала*/
.footer-navigation {
  position: relative;

  justify-content: space-between;
  min-width: 312px;
  padding-top: 12px;
}

.footer-navigation::before {
  content: url(../img/heart.svg);
  position: absolute;
  top: 13px;
  left: -21px;
}

.footer-navigation__items {
  margin-right: 10px;
}

.footer-navigation__link {
  display: block;

  font-size: 13px;
  line-height: 22px;
}

.footer-navigation__link--bold {
  font-weight: bold;
}

.copyright__text {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.copyright__link {
    color: #fefefe;
}

@media ( max-width: 1000px ) {
  .catalog__item:nth-child(n + 5) {
  margin-top: 29px;
  }

  .catalog__list {
    margin-bottom: 54px;
  }
}
